<h1><%= @user.name %>'s Posts</h1>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <ul>
      <h3 class='red'><%= post.body %></h3>
      <% post.images.each do |i| %>
        <%= image_tag i %>
      <% end %>
      <%= link_to "Show post's comments", post_path(post) %> |
      <%= link_to 'Edit post', edit_post_path(post) %> |
      <%= link_to 'Destroy post', post_path(post), method: :delete %>
    </ul>
  <% end %>
<% else %>
<h3> No posts found </h3>
<% end %>
<p><%= link_to 'New Post', new_post_path(user_id: @user.id) %></p>
